@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: darkgray;
}

.painel {
    background:blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.retangulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1350px;
    padding: 10px;
    margin: 3px;
    margin-bottom: 5px;
    height: 800px;
    border-radius: 5px;
    background: white;
    color: red;
}

.cartaz{
    margin: 5px;
}